/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


#indexContainer {
    display: flex;
    flex-direction: column;
}

#indexHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: red;
}

#headerSection {
    flex-grow: 1;
    justify-content: center;
}